- content_for :head do
  %title WebPod

%h1 WebPod

#jquery_jplayer_1.jp-player

.jp-audio
  .jp-type-single
    #jp_interface_1.jp-interface
      %ul.jp-controls
        %li= link_to "play",   "#", :class => "jp-play",   :tabindex => 1
        %li= link_to "pause",  "#", :class => "jp-pause",  :tabindex => 1
        %li= link_to "stop",   "#", :class => "jp-stop",   :tabindex => 1
        %li= link_to "mute",   "#", :class => "jp-mute",   :tabindex => 1
        %li= link_to "unmute", "#", :class => "jp-unmute", :tabindex => 1

      .jp-progress
        .jp-seek-bar
          .jp-play-bar

      .jp-volume-bar
        .jp-volume-bar-value

      .jp-current-time
      .jp-duration

    .jp_playlist_1.jp-playlist
      %ul
        %li#rickroll Rickroll
        %li#bluegrass Bluegrass
