!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }    

    / Always force latest IE rendering engine (even in intranet) & Chrome Frame
    %meta{ :content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }

    = stylesheet_link_tag "site.css", "jplayer.blue.monday"
    = javascript_include_tag "jquery.min", "jquery.jplayer.min", "application.js"

    / temporary!
    = javascript_include_tag "songs"

    = yield_content :head
    
  %body{ :class => page_classes }

    #main{ :role => "main" }
      = yield
